* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: digitalclock;
    src: url(digital-7.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    font-family: digitalclock;
    letter-spacing: 1.5rem;
   
}

.clock{
    color: orangered;
    font-size: 6rem;
}